<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Products List</h4>
    <table border="1" class="list-group">
      <tr class="list-group-item" 
      *ngFor="let product of products; let i = index"
      [class.active]="i == currentIndex"
      (click)="setActiveProduct(product, i)">
        <th>{{ product.title }}</th><td class="edit" routerLink="/products/{{ currentProduct.id }}"><img class="icon_edit" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg/1024px-Edit_icon_%28the_Noun_Project_30184%29.svg.png"></td>
      </tr>
    </table>
    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllProducts()">
      Remove All
    </button>
  </div>
  <div class="col-md-6">
    <app-product-details
      [viewMode]="true"
      [currentProduct]="currentProduct"
    ></app-product-details>
  </div>
</div>
